.basemaps-container {
  position: absolute;
  z-index: 500;
  bottom: 10px;
  left: 10px;
  border-radius: 4px;
  background-color: white;
}

.basemap-open-btn {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 30, 50, 0.1); 
}

.basemap-open-btn:hover {
  background-color: #e2e6ea;
  color: #36c2cf;
  border-color: #36c2cf;
}

.basemaps-select {
  position: absolute;
  width: 200px;
  height: 240px;
  bottom: 0px;
  left: 50px;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: left;
}

.basemaps-select img {
  width: 160px;
  height: 106px;
  background-color: rgba(54,194,207,.1);
  margin-top: 16px;
  cursor: pointer;
}

.basemaps-select .active {
  border: 2px solid #36c2cf;
}

.basemaps-title {
  text-align: left;
  margin-left: 24px;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 700;
  color: #001e32;
}

.basemaps-image-title {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  margin-left: 20px;
}