@import url("~leaflet/dist/leaflet.css");
@import url("~react-leaflet-markercluster/dist/styles.min.css");
@import url("~antd/dist/antd.css");

.map {
  height: 100%;
  width: 100%;
  min-width: 399px;
}

.geojson-toggle, .wind-toggle {
  position: fixed;
  right: 20px;
  z-index: 1000;
  margin-top: 20px;
  background: white;
  font-size: 14px;
  padding: 4px;
  border-radius: 3px;
}

.top40 {
  top: 40px;
}

.top70 {
  top: 70px;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.leaflet-popup .leaflet-popup-close-button {
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
opacity: 0.8;
background: red;
color: #2a2a2a !important;
height: 25px !important;
top: 10px !important;
padding: 4px !important;
right: 10px !important;
width: 25px !important;
z-index: 2;
}
.leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 6px;
}

.leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {

margin: 6px 12px;
font-family: Roboto, Arial, serif;
font-size: 17px;

}


.leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .property {
margin-bottom: 0;
}
.leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .property:hover img {
top: 0;
}
.leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .property .overlay {
bottom: 0px;
}
