.leaflet-popup .leaflet-popup-close-button {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: red;
  color: #2a2a2a !important;
  height: 25px !important;
  top: 10px !important;
  padding: 4px !important;
  right: 10px !important;
  width: 25px !important;
  z-index: 2;
  }
  .leaflet-popup .leaflet-popup-content-wrapper {
    border-radius: 6px;
  }
  
  .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  
  margin: 6px 12px;
  font-family: Roboto, Arial, serif;
  font-size: 17px;
  
  }
  
  
  .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .property {
  margin-bottom: 0;
  }
  .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .property:hover img {
  top: 0;
  }
  .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .property .overlay {
  bottom: 0px;
  }

.pop-heading {
  padding-right: 0px;
  font-size: 17px;
}

.pop-title {
  font-weight: bold;
  color: #2196F3;
  border-bottom: 2px solid rgba(134, 133, 133, 0.13);
  padding-bottom: 2px;
  margin-bottom: 3px;
}

.pop-body {
  padding: 5px 0;
  max-height: 250px;
  overflow-y: auto;
  
}
.pop-field {
  line-height: 1.7;
   font-size: 13px;
   font-family: Roboto,Helvetica Neue,Arial,sans-serif;
}
.pop-field span {
  font-weight: 700;
}
.pop-footer {
  padding-top: 10px;
  font-style: italic;
  font-size: 14px;
}