.sidebar {
  position: relative;
  background-color: #f0e8e8;
}
.sidebar-panel {
  display: flex;
  width: 600px;
  /* box-shadow: 3px 0 6px 0 rgba(0, 30, 50, 0.1); */
  padding: 10px; 
}

.sidebar-close-btn {
  background-color: #ffffff;
  position: absolute;
  font-size: 19px;
  top: 10px;
  right: 10px;
  z-index: 1; 
}

.sidebar-close-btn:hover {
  color: #36c2cf;
  cursor: pointer; 
}

.sidebar__open-btn {
  position: absolute;
  z-index: 500;
  top: 140px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 30, 50, 0.1); 
}

.sidebar__open-btn:hover {
  background-color: #e2e6ea;
  color: #36c2cf;
  border-color: #36c2cf;
}

