.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar {
	display: block;
	width: 100%;
	overflow: auto;
	background-color: #f0e8e8;
	height: 765px;
  }
  
  .invisible-scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: rgb(224, 217, 217); /* or add it to the track */
  }
  
  
  /* Add a thumb */
  .invisible-scrollbar::-webkit-scrollbar-thumb {
	  background: rgb(22, 22, 22);
  }